.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1200;
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
    padding: 12px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 14px 10px 31px 0px rgba(0, 0, 0, 0.6);
    ;
}

.modal_content>img {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    max-width: auto;
    height: auto;
    border: 2px solid #2a2a2a;
    border-radius: 4px;
}