body {
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
  background-color: #0f0f0f;
}

.Container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.5),
    rgba(47, 48, 58, 0.5)), url(/src/components/images/car-4036153_1280.jpg) ;
    background-color: #0f0f0f;
    display: block;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    padding: 10px;
    min-height: 800px;
    height: auto;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.ContainerHome {
  background-image: url(/src/components/images/image_23.jpg);
  background-color: #0f0f0f;
  display: block;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  padding: 10px;
  min-height: 800px;
  height: auto;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.FilmGalleryItem {
  width: 274px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.FilmGalleryItem-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGalleryItem-image:hover {
  transform: scale(1.03);
  cursor: pointer;
}